page-about {
    p.des__X {
        font-size: 19px;
        font-style: italic;
        margin-top: -6px;
    }

    ._content {
        padding: 9px;
    }

    h3.titleLine_ {
        background: beige;
        padding: 16px;
    }

    h3.HeadLine_ {
        color: #db2026;
    }

}