page-outdoor-catering {
    p.des__X_Call {
        margin-bottom: 40px;
    }

    ion-title.title.title-md {
        text-align: center;
        margin-left: -26px;
    }

    ion-title.title.title-ios {
        text-align: center;
        margin-left: -26px;
    }

}
